<!DOCTYPE html>
<html lang="pt-br">

<head>
</head>

<img style="width: 884px; height: 134px;" alt="" src="https://i.ibb.co/Fnkrrfz/Base.png">
<br>
<div style="text-align: center; width: 878px;"><big><big><big><span
    style="color: rgb(69, 117, 39); font-weight: bold; font-family: Calibri;">CHAT
    BOT - TRABALHE CONOSCO</span></big></big>
    </big>&nbsp;&nbsp; <span style="font-family: Calibri; color: rgb(163, 219, 129); font-weight: bold;"></span><br>
    <div style="text-align: left;">
        <table style="text-align: left; width: 100%; margin-left: auto; margin-right: auto;" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr style="color: black;">
                    <td style="vertical-align: middle; height: 33px;"><big><span
            style="font-family: Calibri; font-weight: bold;">NOME:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span><span style="font-family: Calibri;"><%=name%></span><span
            style="font-family: Calibri; font-weight: bold;"><br>
          </span></big></td>
                </tr>
                <tr style="color: black;">
                    <td style="vertical-align: middle; text-align: left; height: 29px;"><span style="font-family: Calibri; font-weight: bold;">EMAIL:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp; </span><span style="font-family: Calibri;"><%=email%></span><span style="font-family: Calibri; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          CELULAR: </span><span style="font-family: Calibri;"><%=phone%></span><span style="font-family: Calibri;"></span><span style="font-family: Calibri; font-weight: bold;"> &nbsp; &nbsp; LINK
          DO WHATSAPP: </span><a href="<%=`https://wa.me/${phone}`%>"><span
            style="font-family: Calibri;"><%=`https://wa.me/${phone}`%></span></a><span style="font-family: Calibri; font-weight: bold;"></span></td>
                </tr>
                <tr style="color: black;">
                    <td style="vertical-align: top; height: 28px;"><span style="font-family: Calibri; font-weight: bold;">VAGA
              DESEJADA:&nbsp;&nbsp; </span><span style="font-family: Calibri;"><%=vacancy%></span><span style="font-family: Calibri; font-weight: bold;"><br>
            </span></td>
                </tr>
                <tr style="color: black;">
                    <td style="vertical-align: top; height: 128px;">
                        <dl>
                            <dt><span style="font-family: Calibri; font-weight: bold;">ENDEREÇO:</span></dt>
                            <br>
                            <br>
                            <dt><small><span style="font-family: Calibri;"><%=public_place%></span></small></dt>
                            <dt><small><span style="font-family: Calibri;"><%=neighborhood%></span></small></dt>
                            <dt><small><span style="font-family: Calibri;"><%=`${locality}-${state}`%></span></small></dt>
                            <dt><small><span style="font-family: Calibri;"><%=`CEP: ${zip_code}`%></span></small></dt>
                        </dl>
                    </td>
                </tr>
            </tbody>
        </table>
        <span style="font-family: Calibri; color: rgb(69, 117, 39); font-weight: bold;"></span><span style="font-family: Calibri; color: rgb(69, 117, 39); font-weight: bold;"></span><span style="font-family: Calibri; color: rgb(69, 117, 39); font-weight: bold;"></span>
        <span style="font-family: Calibri; color: rgb(69, 117, 39); font-weight: bold;"></span><span style="font-family: Calibri; color: rgb(69, 117, 39); font-weight: bold;"></span>
        <table style="text-align: left; height: 24px; width: 883px;" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="vertical-align: top; width: 587px; background-color: rgb(69, 117, 39); color: white;"><span style="font-family: Calibri; font-weight: bold;">ID: <%=id%> <br>
        </span></td>
                    <td style="vertical-align: top; width: 290px; background-color: rgb(69, 117, 39); color: white;"><span style="font-family: Calibri; font-weight: bold;">ENVIO: <%=date%></span></td>
                </tr>
            </tbody>
        </table>
        <span style="font-family: Calibri; color: rgb(69, 117, 39); font-weight: bold;"></span></div>
</div>
</body>

</html>

</html>
